*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

header {
    background: #ffffff;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-left: 170px;
    margin-right: 170px;
}

.logo{
    margin-right: 60px;
    color: #fB5966;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

nav{
    margin-left: 40px;
    margin-right: 20px;
}

a{ 
    padding-right: 20px;
    color: #020202;
    text-decoration: none;
}

.contact-us{
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
}

p{
    font-size: 18px;
    font-weight: 400px;
}

.join-us{
    background-color: #fB5966;
    color: white;
    font-weight: 600;
    border: none;
    padding: 14px 17px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 28px;
}

.learn-more {
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
}

.hero-images{
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;
}

.hero{
    margin-top: 120px;
    
}

.stats {
    display: flex;
    align-items: center;
    margin-top: 5rem;
  }

.container-hero h1{
    font-size: 71px;
    font-weight: 400;
    letter-spacing: -2px;
}
.container-hero {
    margin-left: 220px;
    width: 550px;
}

.p {
    margin-top: 10px;
    width: 400px;
  }

.stats {
    margin-top: 90px;
    margin-left: -38px;
}
  .stats img {

    padding: 0 24px;
  }
  
  .stats img:not(:last-child) {
    border-right: 4px solid black;
  }

  .images-container {
    position: relative;
    width: 100%;
    height: 600px; /* controls the stacking area */
  }
  
  .rect-9 img {
    width: 400px;
    border-radius: 24px;
  }
  .rect-8 img
  {
    width: 260px;
    border-radius: 24px;
  }
    
  .group8-img {
    background-color: #fB5966;
    padding: 40px;
    border-radius: 30px;
    border: 4px solid #ffffffff;
    display: inline;
    margin-top: 400px;
    position: absolute;
    z-index: 10;
  }


  .rect-7 {
    position: absolute;
    top: 140px;
    left: 40px;
    z-index: 3;
  }
  
  .rect-8 {
    position: absolute;
    top: 175px;
    right: 280px;
    z-index: 2;
  }
  
  .rect-9 {
    position: absolute;
    top: 436px;
    right: 495px;
    z-index: 1;
  }
  
  .group8-img {
    position: absolute;
    top: 180px;
    left: 140px;
    background: #fB5966;
    padding: 32px;
    border-radius: 28px;
    border: 4px solid #fff;
    z-index: 10;
  }
  
  .arrow {
    position: absolute;
    top: 100px;
    right: 537px;
    background: #e6ffff;
    padding: 22px;
    border-radius: 50%;
    z-index: 9;
  }
  
  .articurve {
    position: absolute;
    bottom: 20px;
    right: 250px;
    z-index: 0;
  }
  
  .star-one {
    position: absolute;
    bottom: 180px;
    left: -70px;
    z-index: 8;
  }
  
