*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    padding: 40px;
} */
main {
  padding-top: 24px;
}
header {
  background: #fff;
  position: sticky;
  top: 0;
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 140px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 314px; /* BIG space: logo ↔ nav */
}

.menu {
  display: flex;
  gap: 32px; /* nav link spacing */
}


.container{
  max-width: 1290px;
  margin: 0 auto;
  padding-inline: 24px;
}
.logo{
    color: #fB5966;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}


a{ 
    padding-right: 17px;
    color: #020202;
    text-decoration: none;
}

.contact-us{
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
}

p{
    font-size: 18px;
  margin-top: 10px;
 max-width: 357px;
}


.join-us{
    background-color: #fB5966;
    color: white;
    font-weight: 600;
    border: none;
    padding: 14px 17px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 28px;
}

.learn-more {
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
}

.hero-images{
    position: relative;
    bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;
}

.stats {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-left: -38px;
  }

.container-hero h1{
    font-size: 71px;
    font-weight: 600;
    letter-spacing: -2px;
}
.container-hero {
    max-width: 550px;
    margin-top: 85px;   
}

  .stats img {

    padding: 0 24px;
  }
  
  .stats img:not(:last-child) {
    border-right: 4px solid black;
  }

  .images-container {
    position: relative;
    width: 100%;
    height: 600px; /* controls the stacking area */
  }
  
   img{
    max-width: 100%;
    height: auto;
  }

  .rect-7 img { width: 245px;
  height: 253px;}

  .rect-9 img {
    width: 400px;
    max-width: none;
    height: 217px;
    border-radius: 24px;
  }
  .rect-8 img
  {
    width: 227px;
    height: 270px;
    border-radius: 24px;
  }

  .rect-7 {
    position: absolute;
    top: 144px;
    left: -30px;
    z-index: 3;
  }
  
  .rect-8 {
    position: absolute;
    top: 196px;
    right: 133px;
    z-index: 2;
  }
  
  .rect-9 {
    position: absolute;
    top: 409px;
    right: 326px;
    z-index: 1;
  }
  
  .group8-img img {
    width: 90px;
  }
  .group8-img {
    position: absolute;
    bottom: 132px;
    left: 153px;
    background: #fB5966;
    padding: 5px 30px;
    border-radius: 48px;
    border: 8px solid #fff;
    z-index: 10;
    display: flex;
    align-items: center;
  }
  
  .arrow img {
    width: 50px;
    height: 50px;
  }
  .arrow {
    position: absolute;
    top: 97px;
    right: 360px;
    background: #A8D1D5;
    /* width: 94px;
    height: 94px; */
    border-radius: 50%;
    border: 10px solid #ffffff;
    z-index: 9;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .articurve img {
    width: 45px;
    height: 45px;
  }
  .articurve {
    position: absolute;
    bottom: 15px;
    right: 210px;
    z-index: 0;
  }

  .icon-park img {
    width: 35px;
    height: 35px;
  }
  .icon-park {
    position: absolute;
    bottom: 80px;
    right: 280px;
    z-index: 9; 
  }

  .arti-icon {
    position: absolute;
    top: 150px;
    right: 180px;
    z-index: 3; 
  }
  .star-one {
    position: absolute;
    bottom: 230px;
    left: -90px;
    z-index: 8;
  }
  
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .hero-images {
    order: -1;
  }

  .container-hero {
    margin-top: 40px;
  }

  .header-inner {
    justify-content: space-between;
    gap: 0;
  }

  .header-left {
    gap: 40px;
  }
}


@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .container-hero h1 {
    font-size: 42px;
    letter-spacing: -1px;
  }

  p {
    font-size: 16px;
  }

.hero-images{
  display: none;
}

.header-inner {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 14px; /* BIG space: logo ↔ nav */
}

.menu {
  display: flex;
  gap: 2px; /* nav link spacing */
}

}

@media (max-width: 480px) {
  .join-us,
  .learn-more {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}

