*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 40px;
}

header {
    background: #ffffff;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-left: 170px;
    margin-right: 170px;
}

.logo{
    margin-right: 60px;
    color: #fB5966;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

nav{
    margin-left: 40px;
    margin-right: 20px;
}

a{ 
    padding-right: 20px;
    color: #020202;
    text-decoration: none;
}

.contact-us{
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
}

p{
    font-size: 18px;
    font-weight: 400px;
}

.join-us{
    background-color: #fB5966;
    color: white;
    font-weight: 600;
    border: none;
    padding: 14px 17px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 28px;
}

.learn-more {
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;
}

.hero{
    margin-top: 120px;
    
}

.stats {
    display: flex;
    align-items: center;
    margin-top: 5rem;
  }

.container-hero h1{
    font-size: 71px;
    font-weight: 400;
    letter-spacing: -2px;
}
.container-hero {
    margin-left: 220px;
    width: 550px;
}

.p {
    margin-top: 10px;
    width: 400px;
  }

.stats {
    margin-top: 90px;
    margin-left: -38px;
}
  .stats img {

    padding: 0 24px;
  }
  
  .stats img:not(:last-child) {
    border-right: 4px solid black;
  }

.hero-images img:nth-last-child(1),
.hero-images img:nth-last-child(2),
.hero-images img:nth-last-child(3) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}
.hero-images img:nth-last-child(1) {
  grid-column: 1 / -1;
}
.hero-images img:nth-child(1) {
  position: absolute;
  top: -40px;
  left: -30px;
}

.hero-images img:nth-child(2) {
  position: absolute;
  top: 80px;
  right: -40px;
}

.hero-images img:nth-child(3) {
  position: absolute;
  bottom: 120px;
  left: -20px;
}

.hero-images img:nth-child(4) {
  position: absolute;
  top: 20px;
  right: 120px;
}



