*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 40px;
}

header {
    background: #ffffff;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.logo{
    margin-right: 60px;
    color: #fB5966;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

nav{
    margin-left: 40px;
    margin-right: 20px;
}

a{ 
    padding-right: 20px;
    color: #020202;
    text-decoration: none;
}

.contact-us{
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
}


.join-us{
    background-color: #fB5966;
    color: white;
    font-weight: 600;
    border: none;
    padding: 14px 17px;
    border-radius: 30px;
}

.learn-more {
    padding: 14px 17px;
    border-radius: 24px;
    border: 1.5px solid #020202;
    background-color: #ffffff;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}